; top-most EditorConfig file
root = true

; Windows-style newlines with spaces
[*]
indent_style = space
indent_size = 4

trim_trailing_whitespace = true
insert_final_newline = true

[*.yml, Dockerfile]
indent_size = 2

[Dockerfile]
indent_size = 2

; enforce LF for Linux containers
[*sh]
end_of_line = lf
indent_size = 2

[*sql]
end_of_line = lf
indent_size = 2
